<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <customBinding>
    <binding name="CustomBinding_IHidexSenseAutomationService">
     <reliableSession inactivityTimeout="01:00:00" />
     <binaryMessageEncoding />
     <namedPipeTransport />
    </binding>
    <binding name="CustomBinding_IHidexSenseAutomationService1">
     <reliableSession inactivityTimeout="01:00:00" />
     <binaryMessageEncoding />
     <namedPipeTransport />
    </binding>
   </customBinding>
  </bindings>
		<client>
   <endpoint address="net.pipe://localhost/HidexSenseAutomation/"
    binding="customBinding" bindingConfiguration="CustomBinding_IHidexSenseAutomationService"
    contract="IHidexSenseAutomationService" name="CustomBinding_IHidexSenseAutomationService" />
   <endpoint address="net.pipe://localhost/HidexSenseAutomation/"
    binding="customBinding" bindingConfiguration="CustomBinding_IHidexSenseAutomationService1"
    contract="ServiceReference1.IHidexSenseAutomationService" name="CustomBinding_IHidexSenseAutomationService1" />
  </client>
	</system.serviceModel>
</configuration>